
<section class="container">
<h3>Edit a Habit</h3>

<form action="/habits/{{_id}}/edit" method="POST">
<div class="form-group">

  <label > Name:
    <input type="text" class="form-control" name="name" value={{this.name}} required />
  </label>

  <label> Frequency:
    <select class="form-control" name="frequency" value={{this.frequency}}>
        <option value="Daily">Daily</option>  
        <option value="Weekly">Weekly</option>  
        <option value="Monthly">Monthly</option>  
    </select>
  </label>

  <label> Quantity:
    <input class="form-control" type="number" name="numberOfTimes" min="1" max="1000" value={{this.numberOfTimes}}/>
  </label>

  <label> Unit:
    <select class="form-control" name="unit" value={{this.unit}}>
        <option value="Liters">Liters</option>  
        <option value="Minutes">Minutes</option>  
        <option value="Hours">Hours</option> 
        <option value="Times">Times</option> 
    </select>
  </label>
  </div>

  <div class="buttons">
  <button type="submit" class="btn btn-info"> Save </button>
  <button type="submit" class="btn btn-light"> <a href="/habits">Back</a> </button>
</form>
</div>
</section>