<section class="container" id="habits">
    <h3>Check out your progress!</h3>
  <div class="row">
      {{#each habits}}

        <div class="col col-10 col-sm-10 col-m-6 col-lg-6, habit">

            <h2 id="habitname" >{{this.name}}</h2>
            <div class="info">
              <div id="fullcheckbox">

                <input type="checkbox" name="progress" class="checkbox" id="checkbox"></input> 
                <p id="checkbox-text">{{this.numberOfTimes}}{{this.unit}}, {{this.frequency}}.</p>
              </div>
                <div id="habit-buttons">

                <button type="button" class="btn btn-light"><a  href="/habits/{{_id}}/edit">Edit Habit</a></button>
                 <form action="/habits/{{_id}}/delete" method="POST">
                <button class="btn btn-dark">Delete Habit</button>
                </form>
                </div>
            </div>

        </div>

      {{/each}}
    

  </div>
</section>